__pycache__/arm_control.cpython-310.pyc
__pycache__/arm_convex_mpc.cpython-38.pyc
__pycache__/arm_convex_mpc.cpython-310.pyc
__pycache__/arm_drag.cpython-38.pyc
__pycache__/arm_drag.cpython-310.pyc
__pycache__/arm_ff.cpython-38.pyc
__pycache__/arm_ff.cpython-310.pyc
__pycache__/arm_ik.cpython-38.pyc
__pycache__/arm_ik.cpython-310.pyc
__pycache__/arm_mujoco.cpython-310.pyc
__pycache__/arm_smooth_move.cpython-38.pyc
__pycache__/arm_smooth_move.cpython-310.pyc
__pycache__/compare_ee_tracking.cpython-38.pyc
__pycache__/compare_ee_tracking.cpython-310.pyc
__pycache__/ee_traj.cpython-38.pyc
__pycache__/ee_traj.cpython-310.pyc
__pycache__/joint_traj.cpython-38.pyc
__pycache__/joint_traj.cpython-310.pyc
__pycache__/pineapple_arm_vis.cpython-38.pyc
__pycache__/pineapple_arm_vis.cpython-310.pyc
__pycache__/pineapple_arm.cpython-38.pyc
__pycache__/pineapple_arm.cpython-310.pyc
__pycache__/test_convex_mpc.cpython-38.pyc
__pycache__/test_convex_mpc.cpython-310.pyc
__pycache__/test_ee_traj.cpython-310.pyc
__pycache__/test_frames.cpython-38.pyc
__pycache__/test_frames.cpython-310.pyc
__pycache__/test_smooth_move.cpython-38.pyc
__pycache__/test_smooth_move.cpython-310.pyc
__pycache__/verify_gravity.cpython-38.pyc
__pycache__/verify_gravity.cpython-310.pyc
data/grav_20260731_140236.npz
